{% extends 'base.html' %}

{% block body %}

  {%include 'snippets/basic-search.html' %}
  {%include 'snippets/brief-result.html' %}

{% endblock %}

{% block activity %}
<script>
   var catalog_view_model = new CatalogViewModel();
   ko.applyBindings(catalog_view_model);
   bfInstances.initialize();
   bfPeople.initialize();
   bfWorks.initialize(); 
   //bfTitles.initialize();
   bfTopics.initialize();

   $('#bf_typeahead .typeahead').typeahead({
      highlight: true
   },
   {
      name: 'bf-works',
      displayKey: 'work',
      source: bfWorks.ttAdapter(),
      templates: {
       header: '<h3 class="bg-info">Works</h3>'
      }
   },
   {
      name: 'bf-instance',
      displayKey: 'instance',
      source: bfInstances.ttAdapter(),
      templates: {
       header: '<h3 class="bg-info">Instances</h3>'
      }
   },
   {
      name: 'bf-people',
      displayKey: 'person',
      source: bfPeople.ttAdapter(),
      templates: {
       header: '<h3 class="bg-info">People</h3>'
      }
   },
   {
      name: 'bf-topics',
      displayKey: 'topic',
      source: bfTopics.ttAdapter(),
      templates: {
       header: '<h3 class="bg-info">Topics</h3>'
      }

  }).on('typeahead:selected', function (obj, datum) {
     console.log("Typeahead selected is " + datum.uuid );
     window.location.replace("/" + datum.uuid);

   });
 
  $(window).scroll(function() {
    if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
       catalog_view_model.loadResults();
    }
  });
</script> 

{% endblock %}
