<section class="bf_searchToolbar row container">
	<!-- This section builds the toolbar for search and filtering 
		 created by: Michael Stabile / mstabile75 at gmail.com-->
	<ul class="bf_searchToolbarUl" data-bind="foreach: searchHeaders">
	    <li data-bind="text: $data, 
			css: { selected: $data == $root.chosenBfSearchViewId() },
					click: $root.goToBfSearchView">
		</li>
	</ul>
	<li class='bfSortOptions'>Sort: <span data-bind="text: sortState"></span></li>
</section>
<ul class="bfSortUl" data-bind="foreach: sortOptions">
	<li data-bind="text: $data,
		click: $root.goToBfSortView">
	</li>
</ul>
